/* Progress Component Styles */

.progress {
  background-color: color-mix(in oklch, var(--primary), transparent 80%);
  position: relative;
  height: 0.5rem;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
}

.progressIndicator {
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  flex: 1 1 0%;
  transition: all 0.15s ease-in-out;
}